@model IEnumerable <CRUD_EXAMPLE.Models.Product>
@{
ViewBag.Title="Index";
}
<h2>Index</h2>


    @if(TempData["InfoMessage"]!=null)
    
    {

<div class="alert alert-info">

    @TempData["InfoMessage"]
    
</div>

    }



<p>
    @Html.ActionLink("Create New","Create" )
</p>


<table class="table table-bordered table-hover table-responsive">
    <tr>

        <th>
            @Html.DisplayNameFor(model=>model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model=>model.Qty)
        </th>

        <th>
           Operations
        </th>


    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.ProductName)
        </td>

        <td>
            @Html.DisplayFor(modelItem=>item.Price)
        </td>

        <td>
            @Html.DisplayFor(modelItem=>item.Qty)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.ProductID}, new {@class="btn btn-primary"})
            @Html.ActionLink("Details", "Details", new {id=item.ProductID},new {@class="btn btn-success"})
            @Html.ActionLink("Delete", "Delete", new {id=item.ProductID},new {@class="btn btn-danger"})


        </td>
    </tr>
    }




</table>